@import '../../index.scss';

.game {
  margin: 0 auto;
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .top {
    display: flex;
    justify-content: space-between;
    width: 28rem;
    margin-bottom: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    height: 28rem;

    @include mobile {
      width: 100%;
      background-size: 75%;
      background-position: 50% 28%;
    }
  }

  .bottom {
    margin-top: -16rem;

    @include mobile {
      margin-top: -19rem;
    }
  }

  .result {
    display: flex;
    margin: 0 auto;
    width: 50rem;
    justify-content: space-between;

    @include tablet {
      width: 100%;
    }

    .player {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        color: #fff;
        letter-spacing: 3px;
        margin-bottom: 2rem;
      }
    }

    .again {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 6rem;
      width: 16rem;

      @include mobile {
        position: absolute;
        bottom: 10rem;
        left: 0;
        right: 0;
        margin: auto;
      }

      span {
        color: #fff;
        font-size: 2.5rem;
        margin-bottom: 1rem;

        @include mobile {
          font-size: 3rem;
        }
      }

      button {
        border: none;
        cursor: pointer;
        border-radius: 8px;
        font-size: 10px;
        font-family: var(--font-family);
        background-color: #fff;
        letter-spacing: 2px;
        padding: 0.5rem 2rem;
        color: rgb(207, 69, 69);

        @include mobile {
          color: var(--dark-text);
          padding: 1rem 3rem;
          font-size: 16px;
        }
      }
    }
  }
}
