.circle {
  width: 10rem;
  height: 10rem;
  background-color: #fff;
  border-radius: 50%;
  padding: 2.3rem;
  border: 1rem solid rgb(248, 186, 72);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
}
