@import '../../index.scss';

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  margin-left: -2rem;
  margin-top: -2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    position: relative;
    margin: 0;
  }

  .rules {
    width: 24rem;
    height: 25rem;
    background: #fff;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: -2rem;
      border-radius: 0;
    }

    .top {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      span {
        font-size: 28px;
        font-weight: 700;
        color: var(--dark-text);

        @include mobile {
          margin: 0 auto;
          margin-top: 4rem;
          margin-bottom: 4rem;
          font-size: 42px;
        }
      }

      button {
        border: none;
        background: transparent;
        cursor: pointer;

        @include mobile {
          position: absolute;
          bottom: 10rem;
          left: 0;
          right: 0;
          margin: auto;
          width: 2rem;
        }
      }
    }
  }
}
