@import './index.scss';

.app {
  min-height: 100vh;
  min-width: 100vw;
  background: var(--background);
  padding: 2rem;
  overflow: hidden;

  @include mobile {
    padding: 2rem 1rem;
  }

  .button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background: transparent;
    border: 2px solid var(--header-outline);
    font-size: 10px;
    font-family: var(--font-family);
    letter-spacing: 2px;
    padding: 0.5rem 1.5rem;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;

    @include tablet {
      left: 0;
      right: 0;
      margin: auto;
      width: 10rem;
      padding: 1rem 1.5rem;
      font-size: 16px;
      margin-top: 0;
      bottom: 4rem;
    }
  }
}
