:root {
  // FONT
  --font-family: 'Barlow Semi Condensed', sans-serif;

  // COLORS

  // Primary
  --scissors-grad: linear-gradient(0deg, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --paper-grad: linear-gradient(0deg, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --rock-grad: linear-gradient(0deg, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --lizard-grad: linear-gradient(0deg, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --cyan-grad: linear-gradient(0deg, hsl(189, 59%, 53%), hsl(189, 58%, 57%));

  // Neutral
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);

  // Background
  --background: radial-gradient(
    ellipse at center top,
    hsl(214, 47%, 23%) 0%,
    hsl(237, 49%, 15%) 80%,
    hsl(237, 49%, 15%) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
